/.idea/.idea.UnityEditorIcons.dir/.idea/.gitignore
/.idea/.idea.UnityEditorIcons.dir/.idea/discord.xml
/.idea/.idea.UnityEditorIcons.dir/.idea/encodings.xml
/.idea/.idea.UnityEditorIcons.dir/.idea/indexLayout.xml
/.idea/.idea.UnityEditorIcons.dir/.idea/vcs.xml
